In [92]:
import pandas as pd
df = pd.read_csv('practice_dataset.csv')

In [93]:
print(df.isnull().sum())

Date                       0
Person_ID                  0
Age                      176
Gender                     0
City                       0
Temperature_C              0
Activity_Level            96
Water_Consumed_Liters     96
Activity_Code             96
dtype: int64

**handling null values**

In [94]:
avg_age = df['Age'].mean()
print(f"Average age: {avg_age:.2f}")

Average age: 39.30

In [95]:
df['Age'] = df['Age'].fillna(avg_age)

In [96]:
avg_water = df['Water_Consumed_Liters'].mean()
print(f"Average water: {avg_water:.2f}")

Average water: 3.39

In [97]:
df['Water_Consumed_Liters'] = df['Water_Consumed_Liters'].fillna(avg_water)

In [98]:
most_common_activity = df['Activity_Level'].mode()[0]
print(f"common Activity: {most_common_activity}")

common Activity: Medium

In [99]:
df['Activity_Level'] = df['Activity_Level'].fillna(most_common_activity)

In [100]:
print(df.isnull().sum())

Date                      0
Person_ID                 0
Age                       0
Gender                    0
City                      0
Temperature_C             0
Activity_Level            0
Water_Consumed_Liters     0
Activity_Code            96
dtype: int64

**changing datatype**

In [101]:
print(df.dtypes)

Date                      object
Person_ID                 object
Age                      float64
Gender                    object
City                      object
Temperature_C            float64
Activity_Level            object
Water_Consumed_Liters    float64
Activity_Code            float64
dtype: object

In [102]:
df['Age'] = df['Age'].astype('int')

In [103]:
df['Date'] = pd.to_datetime(df['Date'])

In [104]:
print(df.dtypes)

Date                     datetime64[ns]
Person_ID                        object
Age                               int32
Gender                           object
City                             object
Temperature_C                   float64
Activity_Level                   object
Water_Consumed_Liters           float64
Activity_Code                   float64
dtype: object

In [105]:
print(df.head())

        Date Person_ID  Age  Gender       City  Temperature_C Activity_Level  \
0 2025-01-01     P0001   34  Female   Peshawar           34.3           High
1 2025-01-02     P0002   49  Female   Peshawar           12.2         Medium
2 2025-01-03     P0003   30  Female    Karachi           10.3           High
3 2025-01-04     P0004   38    Male   Peshawar           44.2         Medium
4 2025-01-05     P0005   39    Male  Islamabad           13.2         Medium

   Water_Consumed_Liters  Activity_Code
0               4.556821            2.0
1               2.312542            1.0
2               2.852035            2.0
3               4.463841            1.0
4               2.631068            1.0

In [106]:
print(df['City'].value_counts())

City
Quetta       561
Lahore       545
Karachi      526
Islamabad    520
Peshawar     507
islamabad     80
peshawar      75
quetta        63
karachi       62
lahore        61
Name: count, dtype: int64

In [107]:
df['City'] = df['City'].str.title()

In [108]:
print(df['City'].value_counts())

City
Quetta       624
Lahore       606
Islamabad    600
Karachi      588
Peshawar     582
Name: count, dtype: int64

In [109]:
df.to_csv("process_data.csv", index=False)